body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FA;
    color: #00695C;
}

header {
    background-color: #00ACC1;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #00838F;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

h2 {
    color: #00ACC1;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #00ACC1;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #00695C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#contact a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background-color: #E0F7FA;
    border-radius: 50%;
    color: #00695C;
    transition: background-color 0.3s ease;
}

#contact a:hover {
    background-color: #B2EBF2;
}

#contact a i {
    margin-right: 5px;
}
